{% extends "base/base.html" %}
{% load i18n static %}


{% block maincontent %}
    <h2 class="formtitle">Definição de nova senha</h2>
    {% if validlink %}
        <form method="post" class="customform">
            {% csrf_token %}
            <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
            <fieldset class="module aligned">
                <input class="hidden" type="hidden" autocomplete="username" value="{{ form.user.get_username }}">
                <div class="form-row field-password1">
                    {{ form.new_password1.errors }}
                    <div class="flex-container labelinputpair">
                        <label for="id_new_password1">{% translate 'New password:' %}</label>
                        {{ form.new_password1 }}
                    </div>
                </div>
                <div class="form-row field-password2">
                    {{ form.new_password2.errors }}
                    <div class="flex-container labelinputpair">
                        <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
                        {{ form.new_password2 }}
                    </div>
                </div>
            </fieldset>
            <input type="submit" value="{% translate 'Change my password' %}" class="default formbutton align-self-end">
        </form>
    {% else %}
        <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    {% endif %}
{% endblock %}
