{% extends 'base/base.html' %}
{% load static %}
{% block title %}<title>English Platform - Login</title>{% endblock %}

{% block maincontent %}
    <h2 class="formtitle">Login</h2>
    {% if form.errors %}
        <p class="text-danger">Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form class="customform" method="post" action="{% url 'base:login' %}">
        {% csrf_token %}
        <div>
            <div class="labelinputpair">
                <div>{{ form.username.label_tag }}</div>
                <div class="inputbox">{{ form.username }}</div>
            </div>
            <div class="labelinputpair">
                <div>{{ form.password.label_tag }}</div>
                <div class="inputbox">{{ form.password }}</div>
            </div>
        </div>
        <input type="submit" value="Login" class="align-self-end formbutton">
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    {# Assumes you set up the password_reset view in your URLconf #}
    <p><a href="{% url 'base:password_reset' %}" class="btn lh-sm bg-body-secondary border">Esqueceu sua senha?</a></p>
{% endblock %}
