{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    <title>English Platform - Products</title>
{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb" class="bg-secondary-subtle mb-3 p-3">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'base:home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Produtos</li>
        </ol>
    </nav>
{% endblock breadcrumb %}

{% block maincontent %}

    <h1>Produtos</h1>
    {% for product in products %}
        <div class="customform rounded mt-3 p-2 bg-body-secondary">
            <h5>{{ product.prod_name }}</h5>
            <p>{{ product.description }}</p>
            <a class="text-decoration-none productbutton" href="{{ product.get_absolute_url }}">Adquira já!</a>
        </div>
    {% endfor %}

{% endblock maincontent %}
