{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    <title>English Platform - Payment finished</title>
{% endblock title %}

{% block scripts %}
    <script src="{% static 'js/return.js' %}" defer></script>
{% endblock scripts %}


{% block maincontent %}
    <section id="success" class="hidden">
        <p class="formtitle">
          Obrigado pela compra! Um email de confirmação será enviado para <span id="customer-email"></span>.

          Qualquer dúvida, por favor, envie um email para <a href="mailto:orders@example.com">orders@example.com</a>.
        </p>
    </section>
{% endblock maincontent %}
