{% extends 'base/base.html' %}
{% load static %}

{% block title %}<title>Módulos - Índice</title>{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb" class="bg-secondary-subtle mb-3 p-3">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'base:home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Modulos</li>
        </ol>
    </nav>
{% endblock breadcrumb %}

{% block maincontent %}
    <h1 class="pb-3">Módulos</h1>
    <ul class="p-0">
        {% for modulo in modulos %}
        <li id="itemlistamodulos" class="listamodulo rounded">
            <a href="{{ modulo.get_absolute_url }}">
                <div>
                    <h4>{{ modulo.titulo }}</h4>
                    <p>{{ modulo.descricao|linebreaks }}</p>
                    <p><b>Público: </b>{{ modulo.publico }}</p>
                </div>
            </a>
        </li>
        <br>
        {% empty %}
            <li>Não há módulos cadastrados.</li>
        {% endfor %}
    </ul>
{% endblock %}