{% extends 'base/base.html' %}
{% load static %}

{% block title %}<title>Módulos - Índice</title>{% endblock %}

{% block maincontent %}
    <h1 class="pb-3">Módulos</h1>
    <ul class="p-0">
        {% for modulo in modulos %}
        <li id="itemlistamodulos" class="rounded">
            <a href="{{ modulo.get_absolute_url }}">
                <div>
                    <h4>{{ modulo.titulo }}</h4>
                    <p>{{ modulo.descricao }}</p>
                    <p><b>Público: </b>{{ modulo.publico }}</p>
                </div>
            </a>
        </li>
        <br>
        {% empty %}
            <li>Não há módulos para mostrar.</li>
        {% endfor %}
    </ul>
{% endblock %}