* {
    box-sizing: border-box;
}

#maincontent {
    width: 90%;
    margin: 20px auto;
}

#intro {
    display: flex;
    margin-bottom: 30px;
    box-shadow: 10px 10px 20px lightgray;
    border-radius: 15px;
}

#fotoprof {
    width: 40%;
    object-fit: scale-down;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#prgprof {
    align-self: center;
    margin: 10px 100px 10px 100px;
}

#contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.content {
    width: 24%;
    box-shadow: 10px 10px 20px lightgray;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.txt-content {
    width: 100%;
}

.contentbutton {
    width: 100%;
    border-radius: 5px;
    background-color: #005dcb;
}

.contentbutton > a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-weight: 500;
}

.content > img {
    width: 100%;
    border-radius: inherit;
    align-self: center;
}

@media screen and (max-width: 1000px) {
    #intro {
        flex-direction: column;
    }

    #fotoprof {
        width: 80%;
        align-self: center;
        border-radius: 15px;
        margin: 10px 0;
    }

    #prgprof {
        align-self: center;
        width: 80%;
        margin-bottom: 15px;
    }

    #contents {
        flex-direction: column;
        gap: 10px;
    }

    .content {
        width: 100%;
        padding: 20px 0;
    }

    .txt-content {
        width: 80%;
    }

    .content > img {
        width: 80%;
        margin-bottom: 10px;
    }

    .content > p, .content > h2 {
        width: 80%;
        align-self: center;
    }
}
