{% extends 'base/base.html' %}
{% load static %}

{% block title %}<title>Podcasts - {{ podcast.titulo }}</title>{% endblock %}

{% block maincontent %}
<div id="videodiv">
    <iframe id="videoframe" src="https://www.youtube.com/embed/{{ podcast.plat_id }}"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
    </iframe>
</div>
<h2 id="titulovideo">{{ podcast.titulo }}</h2>
<div class="mt-3 p-1 rounded-3 bg-secondary-subtle" id="descricaovideo">
    <h5>Descrição</h5>
    <p class="mb-0 mt-3">{{ podcast.descricao }}</p>
</div>
<script src="https://player.vimeo.com/api/player.js"></script>
{% endblock %}