{% extends 'base/base.html' %}
{% load static %}

{% block title %}<title>Podcasts - Índice</title>{% endblock %}

{% block maincontent %}
    <h1 class="pb-3">Podcasts</h1>
    <ol class="ps-3 rounded indexlist">
        {% for podcast in podcasts %}
        <li class="pt-1 pb-1 fw-medium">
            <a class="text-decoration-none lh-lg fw-medium"
               href="{{ podcast.get_absolute_url }}">{{ podcast.titulo }}</a>
        </li>
        {% empty %}
            <li>Não há podcasts para mostrar.</li>
        {% endfor %}
    </ol>
{% endblock %}
