{% extends 'base/base.html' %}
{% load static %}

{% block title %}<title>Podcasts - Índice</title>{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb" class="bg-secondary-subtle mb-3 p-3">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'base:home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Podcasts</li>
        </ol>
    </nav>
{% endblock breadcrumb %}

{% block maincontent %}
    <h1 class="pb-3">Podcasts</h1>
    <ol class="ps-3 rounded indexlist">
        {% for podcast in podcasts %}
        <li class="pt-1 pb-1 fw-medium">
            <a class="text-decoration-none lh-lg fw-medium"
               href="{{ podcast.get_absolute_url }}">{{ podcast.titulo }}</a>
        </li>
        {% empty %}
            <li>Não há podcasts cadastrados.</li>
        {% endfor %}
    </ol>
{% endblock %}
