{% extends 'base/base.html' %}
{% load static %}
{% block title %}<title>Arquivos</title>{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb" class="bg-secondary-subtle mb-3 p-3">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'base:home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Arquivos</li>
        </ol>
    </nav>
{% endblock breadcrumb %}

{% block maincontent %}

    <h1 class="pb-3 mt-5">Arquivos para download</h1>

    <ol class="ps-3 rounded mt-3 indexlist">
        {% for file in files %}
            <li class="pt-1 pb-1 fw-medium">
                <a class="text-decoration-none lh-lg fw-medium"
                    href="{{ file.file_url }}">{{ file.title }}</a>
            </li>
        {% empty %} 
            <p>Ainda não existem arquivos para download.</p>
        {% endfor %}
    </ol>

{% endblock %}
