{% extends 'base/base.html' %}
{% load static %}
{% block title %}<title>Arquivos</title>{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb" class="bg-secondary-subtle mb-3 p-3">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'base:home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Arquivos</li>
        </ol>
    </nav>
{% endblock breadcrumb %}

{% block maincontent %}

{% if messages %}
<div class="col-12">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

    <form action="" method="post", enctype="multipart/form-data">{% csrf_token %}
        
        {{ form.title.label_tag }}
        {{ form.title }}
        {{ form.title.errors }}

        {{ form.file.label_tag }}
        {{ form.file }}
        {{ form.file.errors }}


        <button type="submit">Salvar</button>
    </form>

{% endblock %}