{% extends 'base/base.html' %}
{% load static %}
{% block title %}<title>English Platform - Home</title>{% endblock %}

{% block maincontent %}
        <div id="intro">
            <img src="{% static 'img/foto-teste.jpg' %}" alt="Foto do professor" class=""
                 id="fotoprof">
            <p id="prgprof">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus
                eligendi maxime similique sint sit. Aspernatur blanditiis laboriosam
                minus porro vitae? Architecto dolores esse facere facilis quae quis
                quod, repudiandae voluptatem.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus
                eligendi maxime similique sint sit. Aspernatur blanditiis laboriosam
                minus porro vitae? Architecto dolores esse facere facilis quae quis
                quod, repudiandae voluptatem.
            </p>
        </div>
        <div id="contents">
            <div class="content">
                <img src="{% static 'img/podcast.jpeg' %}" alt="Foto relacionada aos podcasts">
                <div class="txt-content">
                    <h2>Podcasts</h2>
                    <p>Texto introdutório relacionado aos podcasts</p>


                    <a href="{% url 'podcasts:indice' %}"><button class="contentbutton">More details</button></a>


                </div>
            </div>
            <div class="content">
                <img src="{% static 'img/levtest.jpeg' %}" alt="Foto relacionada à testes de nivelamento">
                <div class="txt-content">
                    <h2>Leveling test</h2>
                    <p>Algum texto explicativo sobre o teste</p>
                    <a href="#"><button class="contentbutton">More details</button></a>
                </div>
            </div>
            <div class="content">
                <img src="" alt="Foto relacionada ao conteúdo">
                <div class="txt-content">
                    <h2>Free content</h2>
                    <p>Texto introdutório relacionado ao conteúdo</p>
                    <a href="#"><button class="contentbutton">More details</button></a>
                </div>
            </div>
            <div class="content">
                <img src="" alt="Foto relacionada ao conteúdo">
                <div class="txt-content">
                    <h2>Free content</h2>
                    <p>Texto introdutório relacionado ao conteúdo</p>
                    <a href="#"><button class="contentbutton">More details</button></a>
                </div>
            </div>
            <div class="content">
                <img src="" alt="Foto relacionada ao conteúdo">
                <div class="txt-content">
                    <h2>Free content</h2>
                    <p>Texto introdutório relacionado ao conteúdo</p>
                    <a href="#"><button class="contentbutton">More details</button></a>
                </div>
            </div>
        </div>
{% endblock %}